table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px black;
}

td {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    font-weight: normal;
}

th {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    font-weight: bold;
}

tr:hover {
    background-color: #e6e6e6;
}

.compensation-table {
    float: right;
    margin-left: 260px;
    width: 800px;
    margin-bottom: 60px;
    margin-top: 120px;
    position: fixed;
}

.compensation-table-row {
    background-color: #bfbfbf;
    /* color: white; */
}

table,
th,
td {
    border: 1px solid black;
}

.delete {
    background-color: #b30000;
    border: none;
    padding: 5px;
    margin-left: 15px;
}

.edit {
    border: none;
    padding: 5px;
}

.compensation-table-cell {
    text-align: center;
}

.search-container-comp {
    margin-top: 120px;
    margin-left: 1100px;
    position: fixed;
    width: 460px;
}

.comp {
    height: 360px;
    width: 220px;
    margin-left: 1100px;
    margin-top: 180px;
    /* position: relative; */
}

#data {
    text-align: left;
}

.box {
    width: 90px;
    float: right;
}

.edit_button {
    padding: 3px;
    width: 70px;
    background-color: rgb(129, 127, 127);
    color: white;
}