.search-container {
    margin-left: 500px;
    position: relative;
}

.search_button {
    background-color: #555555;
    color: white;
    font-size: 14px;
    padding: 8px 10px;
    font-weight: bold;
    border: 1px;
}